.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 20px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-color: #FF136F;
    border-color: #FF589B;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 15px;
}
.cat1{
    background-color: #FF589B;
}
.cat2{
    background-color: blue;
}
.cat3{
    background-color: brown;
}
.categories h1{
    color:#fff;
}
.categories img{
    width:100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: #fff;
    border-top: none;
}
#subscribe{
    height:300px;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}